LAWMIS_enhanced_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "subtitle": "Ask about workshops, licenses, payments, KPIs, or export data to Sheets",
          "title": "LAWMIS Assistant",
          "responseMode": "lastNode"
        }
      },
      "id": "3fec4842-314d-44ad-a588-6afb643bda9f",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -960,
        592
      ],
      "webhookId": "72036705-e990-464e-b859-adcf8817d106"
    },
    {
      "parameters": {
        "jsCode": "const MAX_LEN = 4000;\nconst sanitizedItems = items.map((item) => {\n  const rawMessage = item.json.chatInput ?? item.json.message ?? '';\n  let cleanMessage = String(rawMessage).trim().replace(/\\s+/g, ' ');\n  if (cleanMessage.length > MAX_LEN) cleanMessage = cleanMessage.slice(0, MAX_LEN);\n  const sessionId = item.json.sessionId ?? $execution.id;\n  console.log(`[${new Date().toISOString()}] session=${sessionId} len=${cleanMessage.length}`);\n  return {\n    json: {\n      ...item.json,\n      chatInput: cleanMessage,\n      originalMessage: rawMessage,\n      sessionId,\n      isEmpty: cleanMessage.length === 0\n    }\n  };\n});\nreturn sanitizedItems;"
      },
      "id": "cda3f3ff-ee3e-4d77-a183-812e8f2b6474",
      "name": "Input Sanitizer & Logger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1a1b2c3-0001-4a4a-9a9a-000000000001",
              "leftValue": "={{ $json.isEmpty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "7445e8bc-8c56-4343-b29a-e0a5085693fa",
      "name": "Empty Input?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -544,
        592
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    reply: \"I didn't catch a message there \u2014 could you type your question again? For example: \\\"show me all active workshops in Lahore\\\", \\\"export licensed workshops to sheet\\\", or \\\"show KPI dashboard\\\".\"\n  }\n}];"
      },
      "id": "f4063568-fea2-4bc1-b408-718633c78a39",
      "name": "Empty Input Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        480
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "178fe14d-c038-490e-89cf-3172694f375e",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "export",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "aa4f3826-798f-4fb2-9843-c69a77bdd327",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "append to sheet",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "d4e5f6a7-0004-4a4a-9a9a-000000000004",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "download",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "export"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c80ae6e1-aacf-4e56-9502-52182ff75b2c",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "63435ca5-73d1-4c6b-be76-70f036d548ee",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "e5f6a7b8-0005-4a4a-9a9a-000000000005",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "remove",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "f6a7b8c9-0006-4a4a-9a9a-000000000006",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "insert",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "update_delete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "kpi-cond-0001",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "dashboard",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0002",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "kpi",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0003",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "statistics",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0004",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "overview",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0005",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "analytics",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0006",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "summary",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0007",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "pass rate",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0008",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "revenue",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0009",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "emission tests",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0010",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "total workshops",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0011",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "active workshops",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0012",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "pending applications",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0013",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "total licenses",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0014",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "expired licenses",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0015",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "performance report",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0016",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "growth trend",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0017",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "top cities",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0018",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "top districts",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0019",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "monthly",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0020",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "average inspection",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "kpi-cond-0021",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "failure rate",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "kpi"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "pdf-cond-0001",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "pdf-cond-0002",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "generate report",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "pdf-cond-0003",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "create report",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "pdf-cond-0004",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "make report",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "pdf-cond-0005",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "build report",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "pdf-cond-0006",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "print report",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "pptx-cond-0001",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "pptx",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "pptx-cond-0002",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "powerpoint",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "pptx-cond-0003",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "slides",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "pptx-cond-0004",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "slide deck",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "pptx-cond-0005",
                    "leftValue": "={{ $json.chatInput }}",
                    "rightValue": "presentation",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "pptx"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "query"
        }
      },
      "id": "f940dbe5-46aa-44e0-a2c9-bfe587edd667",
      "name": "Intent Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    reply: \"I'm currently set up for read-only queries, KPI dashboards, and Google Sheets exports. Update and delete operations aren't enabled in this chat interface for safety. If you need to change data, please use the LAWMIS admin panel directly.\"\n  }\n}];"
      },
      "id": "f343c2b2-8a03-4d0f-bf66-f4bda8e5776e",
      "name": "Unsupported Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        1520
      ]
    },
    {
      "parameters": {},
      "id": "8f6539f3-134c-45ce-b6ab-059dae4f64df",
      "name": "Export Branch",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -176,
        128
      ]
    },
    {
      "parameters": {},
      "id": "dbdc86de-c310-4d65-b316-b48fba455c8b",
      "name": "Query Branch",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -112,
        736
      ]
    },
    {
      "parameters": {},
      "id": "ab2d6e49-39b7-4951-b954-5bb354bd803d",
      "name": "KPI Branch",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -224,
        1040
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User request: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "CRITICAL OUTPUT REQUIREMENTS\n\nYour final answer MUST be a raw JSON array.\n\nExample:\n[\n  {\n    \"workshop_id\": 1,\n    \"workshop_name\": \"ABC Workshop\"\n  }\n]\n\nSTRICTLY FORBIDDEN:\n- Explanations\n- Summaries\n- Markdown\n- Code blocks\n- ```json fences\n- CSV\n- Instructions\n- \"Here is the data\"\n- \"To export\"\n- Any text before JSON\n- Any text after JSON\n\nIf data exists: Return JSON array only.\nIf no rows exist: Return []\nNever return anything except JSON.\n\nSCHEMA SAFETY RULE\n\nENUM CASING RULE:\nThe database contains case-sensitive enum types. When writing WHERE filters or CASE WHEN clauses on these columns, you MUST use the exact Title Case:\n- status_enum (workshop_status, license_status, profile_status): 'Pending', 'Under Review', 'Approved', 'Rejected', 'Suspended', 'Expired'\n- payment_status_enum (payment_status): 'Pending', 'Paid', 'Failed', 'Refunded'\n- test_result_enum (test_result): 'Pass', 'Fail', 'Conditional Pass'\n- fuel_type_enum (fuel_type): 'Petrol', 'Diesel', 'CNG', 'Hybrid', 'Electric'\n- transmission_enum (transmission): 'Manual', 'Automatic', 'CVT', 'AMT'\nUsing lowercase (like 'approved', 'paid', 'pass') will cause PostgreSQL to throw an error!\nYou may ONLY use tables and columns returned by get_schema.\nNever invent tables, views, columns, or relationships.\nIf information is unavailable, return only available fields.\nDo not guess.\n\nOWNER DATA RULE\nDo not assume an owners table exists.\nBefore using owner, owners, owner_details, or workshop_owners \u2014 verify existence through schema.\nIf absent, use only workshop_owner_name from workshops table.\n\n1. Read schema\n2. Verify every table exists\n3. Verify every column exists\n4. Generate query",
          "maxIterations": 4,
          "returnIntermediateSteps": false
        }
      },
      "id": "cb9ffebc-18c7-4e48-bfbf-5730dbd99bc2",
      "name": "AI Agent - Export",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        192,
        128
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"additionalProperties\": true\n  }\n}"
      },
      "id": "dc96a720-b01c-4aab-9f4d-4d186295be39",
      "name": "Export Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        336,
        656
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User request: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful data analyst for the LAWMIS workshop licensing system.\n\nDATABASE SCHEMA (public schema \u2014 ACTUAL and COMPLETE column list; never invent, rename, or guess a column not listed here):\n\npublic.workshops: workshop_id, profile_id, workshop_name, workshop_code, workshop_owner_name, workshop_email, workshop_phone, plot_no, street_address, area_locality, city, tehsil, district, province, postal_code, latitude, longitude, area_type, total_area_sqft, workshop_type, number_of_bays, application_date, submitted_at, approved_at, workshop_status, created_at, updated_at\n  NOTE: there is NO \"location\" column. For location use city / district / province / area_locality / tehsil instead.\n\npublic.workshop_licenses: license_id, workshop_id, inspection_id, payment_id, license_number, license_category, issue_date, valid_from, valid_until, issued_by_officer, issuing_authority, license_status, renewal_count, last_renewal_date, created_at\n\npublic.payments: payment_id, workshop_id, profile_id, psid_number, fee_head, fee_amount, currency, payment_mode, bank_name, transaction_ref, challan_no, payment_date, payment_time, payment_status, payment_verified_at, verified_by, remarks, created_at\n\npublic.applicant_profiles: profile_id, user_id, full_name, father_name, gender, date_of_birth, cnic_number, ntn_number, phone_primary, phone_secondary, email_personal, house_no, street_name, area_locality, city, tehsil, district, province, postal_code, profile_submitted_at, profile_reviewed_at, profile_approved_at, profile_status, review_remarks, reviewed_by_officer, created_at, updated_at\n\npublic.emission_tests: test_id, workshop_id, vehicle_id, license_id, test_date, test_time, test_datetime, technician_name, equipment_serial, co_pct, co2_pct, co_co2_pct, hc_ppm, nox_ppm, o2_pct, lambda, engine_rpm, oil_temp_c, co_limit_pct, hc_limit_ppm, nox_limit_ppm, test_result, certificate_no, certificate_valid_until, remarks, created_at\n\npublic.rta_inspections: inspection_id, workshop_id, inspection_date, inspection_time, inspecting_officer, officer_designation, visit_number, score_equipment, score_infrastructure, score_safety, score_staff_competency, score_record_keeping, total_score, inspection_result, remarks, follow_up_required, follow_up_date, created_at\n\npublic.vehicles: vehicle_id, registration_no, chassis_no, engine_no, make, model, variant, model_year, color, fuel_type, engine_cc, transmission, seating_capacity, gross_weight_kg, owner_name, owner_cnic, owner_phone, registered_at\n\npublic.workshop_documents: doc_id, workshop_id, profile_id, doc_type, doc_filename, doc_path, uploaded_at, verified, verified_at, verified_by\n\npublic.sys_users: user_id, username, email, password_hash, role, is_active, created_at, last_login_at\n\npublic.activity_log: log_id, user_id, workshop_id, profile_id, action, entity_type, entity_id, old_status, new_status, performed_by, ip_address, notes, logged_at\n\nFOREIGN KEYS: workshops.profile_id -> applicant_profiles.profile_id | workshop_licenses.workshop_id -> workshops.workshop_id | workshop_licenses.inspection_id -> rta_inspections.inspection_id | workshop_licenses.payment_id -> payments.payment_id | payments.workshop_id -> workshops.workshop_id | payments.profile_id -> applicant_profiles.profile_id | rta_inspections.workshop_id -> workshops.workshop_id | emission_tests.workshop_id -> workshops.workshop_id | emission_tests.vehicle_id -> vehicles.vehicle_id | emission_tests.license_id -> workshop_licenses.license_id | workshop_documents.workshop_id -> workshops.workshop_id | workshop_documents.profile_id -> applicant_profiles.profile_id | applicant_profiles.user_id -> sys_users.user_id\n\nCRITICAL RULES:\n\nENUM CASING RULE:\nThe database contains case-sensitive enum types. When writing WHERE filters or CASE WHEN clauses on these columns, you MUST use the exact Title Case:\n- status_enum (workshop_status, license_status, profile_status): 'Pending', 'Under Review', 'Approved', 'Rejected', 'Suspended', 'Expired'\n- payment_status_enum (payment_status): 'Pending', 'Paid', 'Failed', 'Refunded'\n- test_result_enum (test_result): 'Pass', 'Fail', 'Conditional Pass'\n- fuel_type_enum (fuel_type): 'Petrol', 'Diesel', 'CNG', 'Hybrid', 'Electric'\n- transmission_enum (transmission): 'Manual', 'Automatic', 'CVT', 'AMT'\nUsing lowercase (like 'approved', 'paid', 'pass') will cause PostgreSQL to throw an error!\n\n1. Always use the public schema and ONLY columns listed above. If unsure whether a column exists, use get_schema before querying.\n2. For the LATEST status/license/payment per workshop, use a correlated subquery. Never use a plain LEFT JOIN for \"latest\" lookups.\n3. Only SELECT statements permitted. Never INSERT, UPDATE, DELETE, DROP, ALTER, or TRUNCATE.\n4. Always include LIMIT (default 200) unless user asks for everything.\n5. After getting data, give a concise friendly summary including how many results found. Never show raw SQL. For 5 or fewer rows, show a small markdown table. For more than 5, summarize key findings.\n6. If query fails with a schema error, use get_schema to check real column names, then retry. Do not give up.",
          "maxIterations": 5,
          "returnIntermediateSteps": false
        }
      },
      "id": "d9c57615-c22b-4ece-8285-7d76fb439241",
      "name": "AI Agent - Query",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        48,
        752
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User request: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the LAWMIS Analytics & KPI Assistant. Your ONLY responsibility is to answer dashboard, analytics, KPI, statistics, trend analysis, and performance-related questions using the LAWMIS PostgreSQL database. Do NOT answer general workshop lookup questions \u2014 those go to the Query agent.\n\n==================================================\nDATABASE SCHEMA\n==================================================\n\npublic.workshops: workshop_id, profile_id, workshop_name, workshop_code, workshop_owner_name, workshop_email, workshop_phone, plot_no, street_address, area_locality, city, tehsil, district, province, postal_code, latitude, longitude, area_type, total_area_sqft, workshop_type, number_of_bays, application_date, submitted_at, approved_at, workshop_status, created_at, updated_at\n\npublic.workshop_licenses: license_id, workshop_id, inspection_id, payment_id, license_number, license_category, issue_date, valid_from, valid_until, issued_by_officer, issuing_authority, license_status, renewal_count, last_renewal_date, created_at\n\npublic.payments: payment_id, workshop_id, profile_id, psid_number, fee_head, fee_amount, currency, payment_mode, bank_name, transaction_ref, challan_no, payment_date, payment_time, payment_status, payment_verified_at, verified_by, remarks, created_at\n\npublic.applicant_profiles: profile_id, user_id, full_name, father_name, gender, date_of_birth, cnic_number, ntn_number, phone_primary, phone_secondary, email_personal, house_no, street_name, area_locality, city, tehsil, district, province, postal_code, profile_submitted_at, profile_reviewed_at, profile_approved_at, profile_status, review_remarks, reviewed_by_officer, created_at, updated_at\n\npublic.emission_tests: test_id, workshop_id, vehicle_id, license_id, test_date, test_time, test_datetime, technician_name, equipment_serial, co_pct, co2_pct, co_co2_pct, hc_ppm, nox_ppm, o2_pct, lambda, engine_rpm, oil_temp_c, co_limit_pct, hc_limit_ppm, nox_limit_ppm, test_result, certificate_no, certificate_valid_until, remarks, created_at\n\npublic.rta_inspections: inspection_id, workshop_id, inspection_date, inspection_time, inspecting_officer, officer_designation, visit_number, score_equipment, score_infrastructure, score_safety, score_staff_competency, score_record_keeping, total_score, inspection_result, remarks, follow_up_required, follow_up_date, created_at\n\npublic.vehicles: vehicle_id, registration_no, chassis_no, engine_no, make, model, variant, model_year, color, fuel_type, engine_cc, transmission, seating_capacity, gross_weight_kg, owner_name, owner_cnic, owner_phone, registered_at\n\nENUM CASING RULE:\nThe database contains case-sensitive enum types. When writing WHERE filters or CASE WHEN clauses on these columns, you MUST use the exact Title Case:\n- status_enum (workshop_status, license_status, profile_status): 'Pending', 'Under Review', 'Approved', 'Rejected', 'Suspended', 'Expired'\n- payment_status_enum (payment_status): 'Pending', 'Paid', 'Failed', 'Refunded'\n- test_result_enum (test_result): 'Pass', 'Fail', 'Conditional Pass'\n- fuel_type_enum (fuel_type): 'Petrol', 'Diesel', 'CNG', 'Hybrid', 'Electric'\n- transmission_enum (transmission): 'Manual', 'Automatic', 'CVT', 'AMT'\nUsing lowercase (like 'approved', 'paid', 'pass') will cause PostgreSQL to throw an error!\n\n==================================================\nDATABASE RULES\n==================================================\nUse ONLY the public schema.\nUse ONLY tables and columns that exist.\nNever invent tables or columns.\nIf uncertain, ALWAYS use get_schema before writing SQL.\nIf a SQL query fails due to a missing column, immediately call get_schema and regenerate.\nNever guess schema.\n\n==================================================\nSQL RULES\n==================================================\nOnly generate SELECT statements. Never generate INSERT, UPDATE, DELETE, DROP, ALTER, TRUNCATE, or CREATE.\nPrefer: COUNT(), SUM(), AVG(), MIN(), MAX(), GROUP BY, ORDER BY, LIMIT, CASE WHEN, DATE_TRUNC(), FILTER(), COALESCE().\nUse correlated subqueries when retrieving the latest license/payment/status for a workshop.\nAvoid duplicate rows.\nMinimize database calls \u2014 combine multiple KPIs into one SQL query whenever possible.\n\n==================================================\nKPI BEHAVIOR\n==================================================\nWhen the user requests Dashboard, Overview, Summary, KPI, or Statistics:\nGenerate multiple KPIs in as few SQL queries as possible.\n\nStandard KPIs to include:\n- Total Workshops, Active, Pending, Rejected\n- Total Licenses, Active, Expired, Expiring within 30 days\n- Total Revenue, Revenue This Month, Paid Payments, Pending Payments\n- Vehicles Tested Today, Total Emission Tests, Pass Rate, Failure Rate\n- Average Inspection Score, Total Inspections\n- Top 5 Cities by workshop count\n- Top 5 Districts by workshop count\n- Monthly Workshop Registrations (last 6 months)\n- Monthly Revenue (last 6 months)\n- Monthly Emission Tests (last 6 months)\n\n==================================================\nDATE HANDLING\n==================================================\nUse CURRENT_DATE for today's metrics.\nUse DATE_TRUNC() for monthly reports.\nUse CURRENT_DATE + INTERVAL '30 days' for upcoming expiries.\n\n==================================================\nRESPONSE FORMAT\n==================================================\nNever return SQL. Never explain SQL. Return a clean business dashboard.\n\nExample format:\n\n\ud83d\udcca LAWMIS Dashboard\n\n\ud83c\udfed Workshops\n\u2022 Total: 1,542\n\u2022 Active: 1,401\n\u2022 Pending: 63\n\u2022 Rejected: 78\n\n\ud83d\udcc4 Licenses\n\u2022 Active: 1,322\n\u2022 Expired: 41\n\u2022 Expiring in 30 days: 28\n\n\ud83d\udcb0 Payments\n\u2022 Revenue: PKR 18,450,000\n\u2022 This Month: PKR 1,240,000\n\u2022 Paid: 1,380\n\u2022 Pending Payments: 72\n\n\ud83d\ude97 Emission Tests\n\u2022 Today: 214\n\u2022 Total: 48,320\n\u2022 Pass Rate: 94.2%\n\u2022 Failure Rate: 5.8%\n\n\u2b50 Inspections\n\u2022 Total: 1,410\n\u2022 Average Score: 88.5\n\nIf trends, rankings, or comparisons are requested, include a markdown table after the KPI summary.\nIf no records exist, clearly state that no data is available.\n\n==================================================\nSAFETY\n==================================================\nNever modify database records.\nNever expose SQL.\nNever expose internal schema.\nNever fabricate numbers.\nOnly answer using actual database results.\nIf information cannot be obtained from the schema, clearly state that it is unavailable.",
          "maxIterations": 6,
          "returnIntermediateSteps": false
        }
      },
      "id": "a7395289-dbac-4401-8a92-053ea20e0905",
      "name": "AI Agent - KPI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        16,
        1120
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const newItems = items.map((item) => ({\n  json: {\n    reply: item.json.output?.trim() || 'No KPI data could be retrieved at this time. Please try again or rephrase your request.'\n  }\n}));\nreturn newItems;"
      },
      "id": "e5d99a1b-264a-4051-bea9-f80378610750",
      "name": "KPI Dashboard Formatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1088
      ]
    },
    {
      "parameters": {
        "jsCode": "const err = items[0]?.json?.error ?? 'Unknown error during KPI fetch.';\nreturn [{\n  json: {\n    reply: `I couldn't load the KPI dashboard (${typeof err === 'string' ? err : JSON.stringify(err)}). Try asking again or narrow the request \u2014 for example: \"show workshop KPIs\" or \"give me emission test statistics\".`\n  }\n}];"
      },
      "id": "18e5f285-cd3a-4120-9864-2d9d06ad8c81",
      "name": "KPI Error Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        1232
      ]
    },
    {
      "parameters": {
        "jsCode": "const count = items.length;\nconst itemsToReturn = [];\nconst keyMap = {\n  workshop_owner_name: 'Owner Name',\n  workshop_phone: 'Phone',\n  workshop_name: 'Workshop Name',\n  workshop_id: 'Workshop ID',\n  workshop_code: 'Code',\n  workshop_status: 'Status',\n  city: 'City',\n  license_status: 'License Status',\n  valid_until: 'Valid Until',\n  payment_status: 'Payment Status',\n  fee_amount: 'Fee Amount',\n  full_name: 'Full Name',\n  cnic_number: 'CNIC',\n  phone_primary: 'Phone',\n  profile_status: 'Profile Status',\n  test_result: 'Test Result',\n  certificate_no: 'Certificate No',\n  test_date: 'Test Date',\n  inspection_result: 'Inspection Result',\n  total_score: 'Total Score',\n  inspection_date: 'Inspection Date',\n  created_at: 'Created At',\n  workshop_email: 'Email',\n  district: 'District',\n  province: 'Province'\n};\nfunction titleCase(key) {\n  return key.replace(/_/g, ' ').replace(/\\b\\w/g, (c) => c.toUpperCase());\n}\nfunction extractJson(raw) {\n  if (raw === null || raw === undefined) return [];\n  if (Array.isArray(raw) || typeof raw === 'object') return raw;\n  let s = String(raw).trim();\n  s = s.replace(/^\\s*```(?:json|javascript|js)?\\s*/i, '');\n  s = s.replace(/\\s*```\\s*$/i, '');\n  s = s.trim();\n  const candidates = ['[', '{'].map((c) => s.indexOf(c)).filter((i) => i !== -1);\n  if (candidates.length) {\n    const start = Math.min(...candidates);\n    if (start > 0) s = s.slice(start);\n  }\n  const lastBracket = Math.max(s.lastIndexOf(']'), s.lastIndexOf('}'));\n  if (lastBracket !== -1 && lastBracket < s.length - 1) s = s.slice(0, lastBracket + 1);\n  return JSON.parse(s);\n}\nfor (const item of items) {\n  const rawOutput = item.json.output ?? item.json.choices?.[0]?.message?.content ?? [];\n  let dataArray;\n  try {\n    dataArray = extractJson(rawOutput);\n  } catch (e) {\n    const preview = String(rawOutput).substring(0, 300);\n    throw new Error(`Export failed: agent did not return parseable JSON. Parse error: ${e.message}. Raw output started with: ${preview}`);\n  }\n  if (!Array.isArray(dataArray)) dataArray = [dataArray];\n  for (const record of dataArray) {\n    if (record === null || typeof record !== 'object') continue;\n    const newRecord = {};\n    for (const key of Object.keys(record)) {\n      const cleanKey = keyMap[key] ?? titleCase(key);\n      newRecord[cleanKey] = record[key];\n    }\n    itemsToReturn.push({ json: newRecord });\n  }\n}\nif (itemsToReturn.length === 0) throw new Error('Export produced zero usable records after parsing \u2014 nothing to append to the sheet.');\nreturn itemsToReturn;"
      },
      "id": "df70da19-87ce-4e8a-82f5-dff33bba713c",
      "name": "Split Records & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        352
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const err = items[0]?.json?.error ?? 'Unknown error during export.';\nreturn [{\n  json: {\n    reply: `I couldn't complete that export \u2014 the data agent ran into an issue (${typeof err === 'string' ? err : JSON.stringify(err)}). Try rephrasing the request or narrowing the result set.`\n  }\n}];"
      },
      "id": "0b0b5e77-8258-42c6-93fb-15138dd7b93d",
      "name": "Export Error Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "const err = items[0]?.json?.error ?? 'Unknown error during query.';\nreturn [{\n  json: {\n    reply: `Sorry, I ran into a problem looking that up (${typeof err === 'string' ? err : JSON.stringify(err)}). Could you try rephrasing your question?`\n  }\n}];"
      },
      "id": "1f2a1d73-23a6-4db8-855d-c3281b4c7212",
      "name": "Query Error Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        832
      ]
    },
    {
      "parameters": {
        "jsCode": "const newItems = items.map((item) => ({\n  json: {\n    reply: item.json.output ?? 'Sorry, I processed that but got an empty response.'\n  }\n}));\nreturn newItems;"
      },
      "id": "e0e2a1f8-8f8a-4bfc-940e-3c9fccd832ed",
      "name": "Response Formatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        736
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gD7p2PzjlMPhGWuxnfZ_KhmhlsgyFJpcTzD0eMlT25M",
          "mode": "list",
          "cachedResultName": "N8N DB EXPORT",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gD7p2PzjlMPhGWuxnfZ_KhmhlsgyFJpcTzD0eMlT25M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gD7p2PzjlMPhGWuxnfZ_KhmhlsgyFJpcTzD0eMlT25M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "error"
          ],
          "schema": [
            {
              "id": "Workshop ID",
              "displayName": "Workshop ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Workshop Name",
              "displayName": "Workshop Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Code",
              "displayName": "Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Owner Name",
              "displayName": "Owner Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "District",
              "displayName": "District",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Province",
              "displayName": "Province",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Workshop Type",
              "displayName": "Workshop Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Number Of Bays",
              "displayName": "Number Of Bays",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Latest License Status",
              "displayName": "Latest License Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Cars Tested",
              "displayName": "Total Cars Tested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Updated At",
              "displayName": "Updated At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "id": "cbd66ac7-3e20-491d-a465-06f855d00545",
      "name": "Google Sheets Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        816,
        432
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2CoobSIyr34pfOBJ",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const count = items.length;\nreturn [{\n  json: {\n    reply: `Done \u2014 ${count} record${count === 1 ? '' : 's'} appended to the Google Sheet \"N8N DB EXPORT\" (tab: details).`\n  }\n}];"
      },
      "id": "f5d14824-235b-48fd-aeda-708d4d705876",
      "name": "Export Success Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const err = items[0]?.json?.error ?? 'Unknown error writing to Google Sheets.';\nreturn [{\n  json: {\n    reply: `I fetched the data but couldn't write it to the Google Sheet (${typeof err === 'string' ? err : JSON.stringify(err)}). Please check that the sheet is accessible and try again.`\n  }\n}];"
      },
      "id": "89465d72-4ad6-4484-8f5d-03182e6b1c50",
      "name": "Sheets Error Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        528
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { reply: $json.reply } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "8b6529b0-4a09-4060-8565-c27d8f5bce75",
      "name": "Final Response to Chat",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1296,
        688
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute a read-only PostgreSQL SELECT query against the LAWMIS database and return the result rows. Input must be a single valid SELECT statement targeting the public schema. Never pass INSERT/UPDATE/DELETE/DDL statements.",
        "operation": "executeQuery",
        "query": "={{ $fromAI('query', 'A single read-only SQL SELECT statement against the public schema', 'string') }}",
        "options": {}
      },
      "id": "1eefebae-baae-4678-97be-5397ed85d3c1",
      "name": "PostgreSQL Tool - Query",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        224,
        960
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "0vALtBpFCz1sLtVj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Look up the real column names and data types for one or more tables in the public schema. Use this whenever you're unsure if a column exists, or after a 'column does not exist' SQL error, BEFORE retrying the query. Input: a table name (e.g. 'workshops') or comma-separated list of table names. Pass 'all' to list every table and column in the schema.",
        "operation": "executeQuery",
        "query": "={{ $fromAI('table_name', \"A table name, comma-separated list of table names, or 'all'\", 'string').toLowerCase().trim() === 'all' ? \"SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_schema = 'public' ORDER BY table_name, ordinal_position;\" : \"SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_schema = 'public' AND table_name = ANY(string_to_array('\" + $fromAI('table_name', \"A table name, comma-separated list of table names, or 'all'\", 'string').toLowerCase().replace(/[^a-z0-9_, ]/g, '').split(',').map((s) => s.trim()).filter(Boolean).join(',') + \"', ',')) ORDER BY table_name, ordinal_position;\" }}",
        "options": {}
      },
      "id": "0a568ff4-408b-44bd-974d-6bacd7a111b3",
      "name": "get_schema - Query",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        336,
        944
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "0vALtBpFCz1sLtVj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 8
      },
      "id": "8521effd-b51e-480a-8a94-b341a69548f2",
      "name": "Buffer Memory - Query",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        944
      ]
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "855940ac-a610-4c52-b347-7857e5de7956",
      "name": "Mistral Large Model - Query",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -32,
        944
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "H56oOaunCxtDk3YQ",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute a read-only PostgreSQL SELECT query against the LAWMIS database and return the result rows. Input must be a single valid SELECT statement targeting the public schema. Never pass INSERT/UPDATE/DELETE/DDL statements.",
        "operation": "executeQuery",
        "query": "={{ $fromAI('query', 'A single read-only SQL SELECT statement against the public schema', 'string') }}",
        "options": {}
      },
      "id": "bfe3dec4-1a58-40a1-98f2-d33afb49c3ec",
      "name": "PostgreSQL Tool - Export",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        256,
        384
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "0vALtBpFCz1sLtVj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Look up the real column names and data types for one or more tables in the public schema.",
        "operation": "executeQuery",
        "query": "={{ $fromAI('table_name', \"A table name, comma-separated list of table names, or 'all'\", 'string').toLowerCase().trim() === 'all' ? \"SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_schema = 'public' ORDER BY table_name, ordinal_position;\" : \"SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_schema = 'public' AND table_name = ANY(string_to_array('\" + $fromAI('table_name', \"A table name, comma-separated list of table names, or 'all'\", 'string').toLowerCase().replace(/[^a-z0-9_, ]/g, '').split(',').map((s) => s.trim()).filter(Boolean).join(',') + \"', ',')) ORDER BY table_name, ordinal_position;\" }}",
        "options": {}
      },
      "id": "8a2446e0-6100-411d-8ab8-f0147d47ee80",
      "name": "get_schema - Export",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        400,
        336
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "0vALtBpFCz1sLtVj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 8
      },
      "id": "cdd2bdfa-1000-4911-9826-312d0ab97382",
      "name": "Buffer Memory - Export",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        336
      ]
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "temperature": 0
        }
      },
      "id": "e58ed916-b76c-4af1-8818-1a66600cbcb6",
      "name": "Mistral Large Model - Export",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -80,
        320
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "H56oOaunCxtDk3YQ",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute a read-only PostgreSQL SELECT query against the LAWMIS database and return KPI/analytics data.",
        "operation": "executeQuery",
        "query": "={{ $fromAI('query', 'A single read-only SQL SELECT statement for KPI/analytics purposes against the public schema', 'string') }}",
        "options": {}
      },
      "id": "66f26a51-5e50-4fc2-b890-7e1ade8b87ca",
      "name": "PostgreSQL Tool - KPI",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        80,
        1392
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "0vALtBpFCz1sLtVj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Look up the real column names and data types for one or more tables in the public schema.",
        "operation": "executeQuery",
        "query": "={{ $fromAI('table_name', \"A table name, comma-separated list of table names, or 'all'\", 'string').toLowerCase().trim() === 'all' ? \"SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_schema = 'public' ORDER BY table_name, ordinal_position;\" : \"SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_schema = 'public' AND table_name = ANY(string_to_array('\" + $fromAI('table_name', \"A table name, comma-separated list of table names, or 'all'\", 'string').toLowerCase().replace(/[^a-z0-9_, ]/g, '').split(',').map((s) => s.trim()).filter(Boolean).join(',') + \"', ',')) ORDER BY table_name, ordinal_position;\" }}",
        "options": {}
      },
      "id": "0c60abf1-a5d5-4794-977a-4b135131c306",
      "name": "get_schema - KPI",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        304,
        1264
      ],
      "credentials": {
        "postgres": {
          "id": "0vALtBpFCz1sLtVj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 6
      },
      "id": "4c789001-e66b-4f1d-bdf6-c61d0f11ccaf",
      "name": "Buffer Memory - KPI",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        1344
      ]
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "dc4ef78b-5cab-448f-9b23-e6f8d58b5688",
      "name": "Mistral Large Model - KPI",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -224,
        1280
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "H56oOaunCxtDk3YQ",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Look up all valid values for a PostgreSQL enum type before filtering on any status column.",
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        224,
        1376
      ],
      "id": "7689eb04-bb9d-4ecf-9607-4681c833e1e4",
      "name": "Execute a SQL query in Postgres",
      "credentials": {
        "postgres": {
          "id": "0vALtBpFCz1sLtVj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "pdf-branch-noop-0001",
      "name": "PDF Branch",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -224,
        1680
      ]
    },
    {
      "parameters": {},
      "id": "pptx-branch-noop-0001",
      "name": "PPTX Branch",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -224,
        1840
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User request: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the LAWMIS PDF Report Generator.\n\nYour ONLY job is to query the LAWMIS PostgreSQL database and return a raw JSON object (no markdown, no explanations) with the following structure:\n\n{\n  \"report_title\": \"string \u2014 e.g. 'Active Workshop Report'\",\n  \"generated_at\": \"ISO timestamp string\",\n  \"sections\": [\n    {\n      \"heading\": \"section heading string\",\n      \"rows\": [ { \"col1\": \"val1\", \"col2\": \"val2\" } ]\n    }\n  ],\n  \"summary\": \"2-3 sentence plain-text executive summary of the data\"\n}\n\nSCHEMA RULES:\n- Use ONLY tables/columns from get_schema.\n- Only SELECT statements.\n- LIMIT 100 rows per section unless user specifies otherwise.\n- Never invent data.\n- Always call get_schema before querying if unsure.\n\nCRITICAL OUTPUT:\nReturn ONLY valid JSON matching the structure above.\nNo ```json fences. No text before or after JSON.",
          "maxIterations": 5,
          "returnIntermediateSteps": false
        }
      },
      "id": "ai-agent-pdf-0001",
      "name": "AI Agent - PDF",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        48,
        1680
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User request: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the LAWMIS PowerPoint Report Generator.\n\nYour ONLY job is to query the LAWMIS PostgreSQL database and return a raw JSON object with slide data. Structure:\n\n{\n  \"presentation_title\": \"string\",\n  \"generated_at\": \"ISO timestamp string\",\n  \"slides\": [\n    {\n      \"slide_title\": \"string\",\n      \"slide_type\": \"title | kpi_grid | table | chart_data | summary\",\n      \"content\": {\n        \"subtitle\": \"string (for title slides)\",\n        \"kpis\": [ { \"label\": \"string\", \"value\": \"string or number\" } ],\n        \"headers\": [\"col1\", \"col2\"],\n        \"rows\": [ [\"val1\", \"val2\"] ],\n        \"chart_labels\": [\"label1\"],\n        \"chart_values\": [123],\n        \"text\": \"string (for summary slides)\"\n      }\n    }\n  ]\n}\n\nSCHEMA RULES:\n- Use ONLY tables/columns from get_schema.\n- Only SELECT statements.\n- Limit to 10 rows per table slide; aggregate for KPI slides.\n- Never invent data.\n\nCRITICAL OUTPUT:\nReturn ONLY valid JSON matching the structure above.\nNo ```json fences. No text before or after JSON.",
          "maxIterations": 5,
          "returnIntermediateSteps": false
        }
      },
      "id": "ai-agent-pptx-0001",
      "name": "AI Agent - PPTX",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        48,
        1840
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "\n// Parse agent JSON output\nfunction extractJson(raw) {\n  if (!raw) throw new Error('No output from PDF agent');\n  let s = String(raw).trim().replace(/^```(?:json)?\\\\s*/i,'').replace(/```\\\\s*$/,'').trim();\n  const si = s.indexOf('{'); if (si > 0) s = s.slice(si);\n  const ei = s.lastIndexOf('}'); if (ei !== -1 && ei < s.length-1) s = s.slice(0,ei+1);\n  return JSON.parse(s);\n}\n\nconst raw = items[0].json.output ?? '';\nlet report;\ntry { report = extractJson(raw); } \ncatch(e) { throw new Error('PDF agent did not return valid JSON: ' + e.message); }\n\n// Build HTML \u2192 will be converted to PDF via html node\nconst ts = report.generated_at ? new Date(report.generated_at).toLocaleString() : new Date().toLocaleString();\n\nlet sectionsHtml = '';\nfor (const sec of (report.sections || [])) {\n  if (!sec.rows || sec.rows.length === 0) continue;\n  const headers = Object.keys(sec.rows[0]);\n  const thead = headers.map(h => `<th>${h}</th>`).join('');\n  const tbody = sec.rows.map(r => '<tr>' + headers.map(h => `<td>${r[h] ?? ''}</td>`).join('') + '</tr>').join('');\n  sectionsHtml += `\n    <div class=\"section\">\n      <h2>${sec.heading || 'Data'}</h2>\n      <table><thead><tr>${thead}</tr></thead><tbody>${tbody}</tbody></table>\n    </div>`;\n}\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\">\n<style>\n  body{font-family:Arial,sans-serif;margin:32px;color:#1a1a2e}\n  h1{color:#1a1a2e;border-bottom:3px solid #16213e;padding-bottom:8px}\n  h2{color:#16213e;margin-top:28px}\n  .meta{color:#666;font-size:13px;margin-bottom:20px}\n  .summary{background:#f0f4ff;border-left:4px solid #4361ee;padding:12px 16px;margin:16px 0;border-radius:4px}\n  table{width:100%;border-collapse:collapse;margin-top:10px;font-size:13px}\n  th{background:#1a1a2e;color:#fff;padding:8px 10px;text-align:left}\n  td{padding:7px 10px;border-bottom:1px solid #e0e0e0}\n  tr:nth-child(even) td{background:#f7f9ff}\n  .section{margin-bottom:32px}\n  .footer{margin-top:40px;font-size:11px;color:#999;text-align:center}\n</style></head><body>\n<h1>\ud83d\udcca ${report.report_title || 'LAWMIS Report'}</h1>\n<p class=\"meta\">Generated: ${ts} &nbsp;|&nbsp; LAWMIS Workshop Information System</p>\n${report.summary ? `<div class=\"summary\"><strong>Executive Summary:</strong> ${report.summary}</div>` : ''}\n${sectionsHtml}\n<div class=\"footer\">LAWMIS \u2014 Confidential &nbsp;|&nbsp; ${ts}</div>\n</body></html>`;\n\nreturn [{ json: { htmlContent: html, reportTitle: report.report_title || 'LAWMIS Report', rowCount: (report.sections||[]).reduce((a,s)=>a+(s.rows||[]).length,0) } }];\n"
      },
      "id": "pdf-builder-code-0001",
      "name": "PDF HTML Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1680
      ]
    },
    {
      "parameters": {
        "jsCode": "\nfunction extractJson(raw) {\n  if (!raw) throw new Error('No output from PPTX agent');\n  let s = String(raw).trim().replace(/^```(?:json)?\\\\s*/i,'').replace(/```\\\\s*$/,'').trim();\n  const si = s.indexOf('{'); if (si > 0) s = s.slice(si);\n  const ei = s.lastIndexOf('}'); if (ei !== -1 && ei < s.length-1) s = s.slice(0,ei+1);\n  return JSON.parse(s);\n}\n\nconst raw = items[0].json.output ?? '';\nlet pres;\ntry { pres = extractJson(raw); }\ncatch(e) { throw new Error('PPTX agent did not return valid JSON: ' + e.message); }\n\nconst ts = pres.generated_at ? new Date(pres.generated_at).toLocaleString() : new Date().toLocaleString();\nconst slides = pres.slides || [];\n\n// Build HTML-based slide preview (returned to chat + stored)\nlet slidesHtml = '';\nfor (const [i, slide] of slides.entries()) {\n  const c = slide.content || {};\n  let body = '';\n  if (slide.slide_type === 'title') {\n    body = `<div class=\"title-slide\"><h1>${slide.slide_title}</h1><p class=\"subtitle\">${c.subtitle||''}</p><p class=\"ts\">${ts}</p></div>`;\n  } else if (slide.slide_type === 'kpi_grid') {\n    const kpis = (c.kpis||[]).map(k=>`<div class=\"kpi-box\"><div class=\"kpi-val\">${k.value}</div><div class=\"kpi-lbl\">${k.label}</div></div>`).join('');\n    body = `<h2>${slide.slide_title}</h2><div class=\"kpi-grid\">${kpis}</div>`;\n  } else if (slide.slide_type === 'table') {\n    const headers = (c.headers||[]).map(h=>`<th>${h}</th>`).join('');\n    const rows = (c.rows||[]).map(r=>'<tr>'+(r||[]).map(v=>`<td>${v??''}</td>`).join('')+'</tr>').join('');\n    body = `<h2>${slide.slide_title}</h2><table><thead><tr>${headers}</tr></thead><tbody>${rows}</tbody></table>`;\n  } else if (slide.slide_type === 'chart_data') {\n    const labels = c.chart_labels||[]; const vals = c.chart_values||[];\n    const max = Math.max(...vals,1);\n    const bars = labels.map((l,i)=>`<div class=\"bar-row\"><div class=\"bar-lbl\">${l}</div><div class=\"bar\" style=\"width:${Math.round((vals[i]||0)/max*100)}%\">${vals[i]||0}</div></div>`).join('');\n    body = `<h2>${slide.slide_title}</h2><div class=\"chart\">${bars}</div>`;\n  } else {\n    body = `<h2>${slide.slide_title}</h2><p class=\"summary-text\">${c.text||''}</p>`;\n  }\n  slidesHtml += `<div class=\"slide\"><div class=\"slide-num\">Slide ${i+1}</div>${body}</div>`;\n}\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\">\n<style>\n  body{font-family:Arial,sans-serif;background:#f0f0f0;margin:0;padding:24px}\n  .slide{background:#fff;width:720px;min-height:405px;margin:0 auto 32px;border-radius:8px;box-shadow:0 4px 16px rgba(0,0,0,.15);padding:36px 48px;box-sizing:border-box;position:relative;page-break-after:always}\n  .slide-num{position:absolute;top:12px;right:20px;font-size:11px;color:#aaa}\n  .title-slide{text-align:center;padding-top:60px}\n  .title-slide h1{font-size:32px;color:#1a1a2e;margin-bottom:12px}\n  .subtitle{font-size:18px;color:#555;margin:0}\n  .ts{font-size:12px;color:#aaa;margin-top:16px}\n  h2{color:#1a1a2e;font-size:20px;margin-bottom:16px;border-bottom:2px solid #4361ee;padding-bottom:6px}\n  .kpi-grid{display:flex;flex-wrap:wrap;gap:16px;margin-top:16px}\n  .kpi-box{background:#f0f4ff;border-radius:8px;padding:16px 24px;text-align:center;flex:1;min-width:120px}\n  .kpi-val{font-size:28px;font-weight:700;color:#4361ee}\n  .kpi-lbl{font-size:12px;color:#555;margin-top:4px}\n  table{width:100%;border-collapse:collapse;font-size:13px}\n  th{background:#1a1a2e;color:#fff;padding:8px 10px;text-align:left}\n  td{padding:7px 10px;border-bottom:1px solid #e8e8e8}\n  tr:nth-child(even) td{background:#f7f9ff}\n  .bar-row{display:flex;align-items:center;margin-bottom:8px}\n  .bar-lbl{width:120px;font-size:12px;color:#444;flex-shrink:0}\n  .bar{background:linear-gradient(90deg,#4361ee,#7c83fd);height:24px;border-radius:4px;display:flex;align-items:center;padding:0 8px;color:#fff;font-size:12px;font-weight:700;min-width:32px}\n  .summary-text{font-size:15px;color:#333;line-height:1.7;background:#f7f9ff;padding:20px;border-radius:8px}\n</style></head><body>\n<h1 style=\"text-align:center;color:#1a1a2e;margin-bottom:24px\">${pres.presentation_title||'LAWMIS Presentation'}</h1>\n${slidesHtml}\n</body></html>`;\n\nreturn [{ \n  json: { \n    htmlContent: html, \n    presentationTitle: pres.presentation_title||'LAWMIS Presentation', \n    slideCount: slides.length \n  },\n  binary: {\n    data: {\n      data: Buffer.from(html).toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'presentation.html'\n    }\n  }\n}];\n"
      },
      "id": "pptx-builder-code-0001",
      "name": "PPTX HTML Builder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.html2pdf.app/v1/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"html\": {{ JSON.stringify($json.htmlContent) }},\n  \"apiKey\": \"YOUR_HTML2PDF_API_KEY\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "pdf-http-convert-0001",
      "name": "Convert HTML to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        1680
      ],
      "onError": "continueErrorOutput",
      "notes": "Replace YOUR_HTML2PDF_API_KEY with your actual key, or swap with any HTML-to-PDF service (e.g. Puppeteer, wkhtmltopdf, browserless.io)"
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "=LAWMIS_Report_{{ $now.format('yyyy-MM-dd_HH-mm') }}.pdf",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "options": {
          "mimeType": "application/pdf"
        }
      },
      "id": "gdrive-upload-pdf-0001",
      "name": "Upload PDF to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        816,
        1680
      ],
      "onError": "continueErrorOutput",
      "notes": "Requires Google Drive OAuth2 credentials. Set folder ID if you want a specific Drive folder."
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "=LAWMIS_Slides_{{ $now.format('yyyy-MM-dd_HH-mm') }}.html",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "options": {
          "mimeType": "text/html"
        }
      },
      "id": "gdrive-upload-pptx-0001",
      "name": "Upload Slides to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        608,
        1840
      ],
      "onError": "continueErrorOutput",
      "notes": "Uploads a rich HTML slide deck. You can open it in any browser or print to PDF."
    },
    {
      "parameters": {
        "jsCode": "\nconst title = $('PDF HTML Builder').first().json.reportTitle || 'LAWMIS Report';\nconst rows  = $('PDF HTML Builder').first().json.rowCount || 0;\nreturn [{ json: { reply: `\u2705 PDF report \"${title}\" generated with ${rows} records and uploaded to your Google Drive. Open Drive to download it.` } }];\n"
      },
      "id": "pdf-success-reply-0001",
      "name": "PDF Success Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        1632
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst err = items[0]?.json?.error ?? 'Unknown error during PDF generation.';\nreturn [{ json: { reply: `I couldn't generate the PDF report (${typeof err === 'string' ? err : JSON.stringify(err)}). Try again or narrow your request.` } }];\n"
      },
      "id": "pdf-error-reply-0001",
      "name": "PDF Error Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        1728
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst title  = $('PPTX HTML Builder').first().json.presentationTitle || 'LAWMIS Slides';\nconst slides = $('PPTX HTML Builder').first().json.slideCount || 0;\nreturn [{ json: { reply: `\u2705 Slide deck \"${title}\" generated with ${slides} slides and uploaded to your Google Drive as an HTML file. Open in any browser or print to PDF for a polished presentation.` } }];\n"
      },
      "id": "pptx-success-reply-0001",
      "name": "PPTX Success Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1792
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst err = items[0]?.json?.error ?? 'Unknown error during slide generation.';\nreturn [{ json: { reply: `I couldn't generate the slide deck (${typeof err === 'string' ? err : JSON.stringify(err)}). Try again or narrow your request.` } }];\n"
      },
      "id": "pptx-error-reply-0001",
      "name": "PPTX Error Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1904
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute a read-only PostgreSQL SELECT query for PDF report generation. Only SELECT statements against public schema.",
        "operation": "executeQuery",
        "query": "={{ $fromAI('query', 'A single read-only SQL SELECT statement against the public schema', 'string') }}",
        "options": {}
      },
      "id": "pg-tool-pdf-0001",
      "name": "PostgreSQL Tool - PDF",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        128,
        1872
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "0vALtBpFCz1sLtVj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Look up real column names and data types in the public schema. Pass table name or 'all'.",
        "operation": "executeQuery",
        "query": "={{ $fromAI('table_name', \"A table name, comma-separated list, or 'all'\", 'string').toLowerCase().trim() === 'all' ? \"SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_schema = 'public' ORDER BY table_name, ordinal_position;\" : \"SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_schema = 'public' AND table_name = ANY(string_to_array('\" + $fromAI('table_name', \"A table name, comma-separated list, or 'all'\", 'string').toLowerCase().replace(/[^a-z0-9_, ]/g, '').split(',').map((s) => s.trim()).filter(Boolean).join(',') + \"', ',')) ORDER BY table_name, ordinal_position;\" }}",
        "options": {}
      },
      "id": "get-schema-pdf-0001",
      "name": "get_schema - PDF",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        272,
        1872
      ],
      "credentials": {
        "postgres": {
          "id": "0vALtBpFCz1sLtVj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 6
      },
      "id": "buffer-mem-pdf-0001",
      "name": "Buffer Memory - PDF",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        1872
      ]
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0
        }
      },
      "id": "mistral-pdf-0001",
      "name": "Mistral Large Model - PDF",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -160,
        1808
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "H56oOaunCxtDk3YQ",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute a read-only PostgreSQL SELECT query for PPTX/slide generation. Only SELECT statements against public schema.",
        "operation": "executeQuery",
        "query": "={{ $fromAI('query', 'A single read-only SQL SELECT statement against the public schema', 'string') }}",
        "options": {}
      },
      "id": "pg-tool-pptx-0001",
      "name": "PostgreSQL Tool - PPTX",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        128,
        2032
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "0vALtBpFCz1sLtVj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Look up real column names and data types in the public schema. Pass table name or 'all'.",
        "operation": "executeQuery",
        "query": "={{ $fromAI('table_name', \"A table name, comma-separated list, or 'all'\", 'string').toLowerCase().trim() === 'all' ? \"SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_schema = 'public' ORDER BY table_name, ordinal_position;\" : \"SELECT table_name, column_name, data_type FROM information_schema.columns WHERE table_schema = 'public' AND table_name = ANY(string_to_array('\" + $fromAI('table_name', \"A table name, comma-separated list, or 'all'\", 'string').toLowerCase().replace(/[^a-z0-9_, ]/g, '').split(',').map((s) => s.trim()).filter(Boolean).join(',') + \"', ',')) ORDER BY table_name, ordinal_position;\" }}",
        "options": {}
      },
      "id": "get-schema-pptx-0001",
      "name": "get_schema - PPTX",
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        272,
        2032
      ],
      "credentials": {
        "postgres": {
          "id": "0vALtBpFCz1sLtVj",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 6
      },
      "id": "buffer-mem-pptx-0001",
      "name": "Buffer Memory - PPTX",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        2032
      ]
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0
        }
      },
      "id": "mistral-pptx-0001",
      "name": "Mistral Large Model - PPTX",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -160,
        1968
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "H56oOaunCxtDk3YQ",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst err = items[0]?.json?.error ?? 'Unknown error.';\nreturn [{ json: { reply: `PDF agent failed: ${typeof err === 'string' ? err : JSON.stringify(err)}. Try rephrasing.` } }];\n"
      },
      "id": "pdf-agent-err-0001",
      "name": "PDF Agent Error Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1776
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst err = items[0]?.json?.error ?? 'Unknown error.';\nreturn [{ json: { reply: `Slide generation agent failed: ${typeof err === 'string' ? err : JSON.stringify(err)}. Try rephrasing.` } }];\n"
      },
      "id": "pptx-agent-err-0001",
      "name": "PPTX Agent Error Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        1936
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Input Sanitizer & Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Sanitizer & Logger": {
      "main": [
        [
          {
            "node": "Empty Input?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty Input?": {
      "main": [
        [
          {
            "node": "Empty Input Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Intent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empty Input Reply": {
      "main": [
        [
          {
            "node": "Final Response to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Router": {
      "main": [
        [
          {
            "node": "Export Branch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "KPI Branch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF Branch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PPTX Branch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupported Action": {
      "main": [
        [
          {
            "node": "Final Response to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Branch": {
      "main": [
        [
          {
            "node": "AI Agent - Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Branch": {
      "main": [
        [
          {
            "node": "AI Agent - Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KPI Branch": {
      "main": [
        [
          {
            "node": "AI Agent - KPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Branch": {
      "main": [
        [
          {
            "node": "AI Agent - PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PPTX Branch": {
      "main": [
        [
          {
            "node": "AI Agent - PPTX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Export": {
      "main": [
        [
          {
            "node": "Split Records & Normalize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Export Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Query": {
      "main": [
        [
          {
            "node": "Response Formatter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - KPI": {
      "main": [
        [
          {
            "node": "KPI Dashboard Formatter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "KPI Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - PDF": {
      "main": [
        [
          {
            "node": "PDF HTML Builder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF Agent Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - PPTX": {
      "main": [
        [
          {
            "node": "PPTX HTML Builder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PPTX Agent Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF HTML Builder": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PPTX HTML Builder": {
      "main": [
        [
          {
            "node": "Upload Slides to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF": {
      "main": [
        [
          {
            "node": "Upload PDF to Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF to Drive": {
      "main": [
        [
          {
            "node": "PDF Success Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Slides to Drive": {
      "main": [
        [
          {
            "node": "PPTX Success Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PPTX Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Success Reply": {
      "main": [
        [
          {
            "node": "Final Response to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Error Reply": {
      "main": [
        [
          {
            "node": "Final Response to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Agent Error Reply": {
      "main": [
        [
          {
            "node": "Final Response to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PPTX Success Reply": {
      "main": [
        [
          {
            "node": "Final Response to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PPTX Error Reply": {
      "main": [
        [
          {
            "node": "Final Response to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PPTX Agent Error Reply": {
      "main": [
        [
          {
            "node": "Final Response to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KPI Dashboard Formatter": {
      "main": [
        [
          {
            "node": "Final Response to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "KPI Error Reply": {
      "main": [
        [
          {
            "node": "Final Response to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Records & Normalize": {
      "main": [
        [
          {
            "node": "Google Sheets Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Error Reply": {
      "main": [
        [
          {
            "node": "Final Response to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Error Reply": {
      "main": [
        [
          {
            "node": "Final Response to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Formatter": {
      "main": [
        [
          {
            "node": "Final Response to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Append": {
      "main": [
        [
          {
            "node": "Export Success Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Success Reply": {
      "main": [
        [
          {
            "node": "Final Response to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets Error Reply": {
      "main": [
        [
          {
            "node": "Final Response to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL Tool - Query": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Query",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_schema - Query": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Query",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Memory - Query": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Query",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Large Model - Query": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Query",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL Tool - Export": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Export",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_schema - Export": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - Export",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Memory - Export": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - Export",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Large Model - Export": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Export",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL Tool - KPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - KPI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_schema - KPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - KPI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Memory - KPI": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - KPI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Large Model - KPI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - KPI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - KPI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL Tool - PDF": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - PDF",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_schema - PDF": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - PDF",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Memory - PDF": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - PDF",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Large Model - PDF": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - PDF",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL Tool - PPTX": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - PPTX",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_schema - PPTX": {
      "ai_tool": [
        [
          {
            "node": "AI Agent - PPTX",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buffer Memory - PPTX": {
      "ai_memory": [
        [
          {
            "node": "AI Agent - PPTX",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Large Model - PPTX": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - PPTX",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eee5b3751af245c8a5d1f177a6ab5d0dff14aedd2168751a812ee8c7ba1a8b3f"
  }
}